/* Global styles */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

/* Navbar styles */
.navbar {
    width: 100%;
    height: 105px;
    background-color: #FFFFFF;
    color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
}

.navbar .left {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
}

.navbar .left img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar .left .brand-name {
    font-size: 24px;
}


.navbar .middle a {
    margin-right: 20px;
    text-decoration: none;
    color: inherit;
}

.navbar .right button {
    padding: 10px 20px;
    background-color: #000;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.navbar .right button:hover {
    background-color: #333;
}

.brand-name > p {
    font-size: 0.95rem;

}
/* Header styles */
.header {
    height: 735px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('images/chess_1.png');
    background-size: cover;
    background-position: center;
    border-top: 1px solid #ccc;
    position: relative;
}

.header-content {
    width: 640px;
    height: 330px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-group {
    text-align: left;
}

.header-text {
    font-size: 48px;
    color: #FFF;
    margin-bottom: 20px;
}

.header-button {
    padding: 10px 20px;
    background-color: #FFB703;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.header-button:hover {
    background-color: #FF9900;
}

/* Statistics group styles */
.statistics-group {
    position: absolute;
    bottom: 100px;
    left: 20px;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
}

.line {
    flex-grow: 1;
    border: none;
    height: 2px;
    background-color: #E5E5E5;
    margin: 0 10px;
}

.line-texts {
    display: flex;
}

.line-texts span {
    font-size: 16px;
    color: #FFF;
}

/* About section styles */
.about-section {
    width: 1321px;
    height: 678px;
    margin: 20px auto; 
    background-color: #FFFFFF; 
    color: #1E1E1E; 
    padding: 20px; 
    box-sizing: border-box; 
}

/* Top row section styles */
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
}

.top-row-text {
    display: flex;
    font-size: 24px; 
    font-weight: bold; 
}

/* About content styles */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-row-content {
    width: 50%; 
}

.about-text {
    font-size: 16px; 
}
/* Get Involved button styles */
.get-involved-button {
    padding: 10px 20px;
    background-color: #FFB703;
    color: #000;
    border: none;
    cursor: pointer;
}

.get-involved-button:hover {
    background-color: #FF9900;
}

.about-image img {
    width: 600px; 
    height: 435px; 
}

/* Bottom row section styles */
.bottom-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
/* bottom row styles */
.bottom-row-text {
    font-size: 16px;
    font-weight: medium;
    color: #1D2130;
    margin-right: 20px; 
}

.line-1 {
    width: 1094px;
    height: 1px;
    background-color: #E5E5E5;
}

/* Supporter logos styles */
.supporter-logos {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.supporter-logo {
    width: 223px; 
    height: 67px; 
    margin-right: 100px; /* Add space between logos */
}
/* Supporter logos styles */
.supporter-logos {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.supporter-item {
    display: flex;
    align-items: center;
}

.supporter-text {
    font-size: 20px;
    font-weight: medium;
    margin-left: 10px; /* Adjust margin as needed */
}

/* Adjust margin for the first and last logos */
.supporter-logo:first-child {
    margin-right: 50px; /* Position the first logo about 50px from the left */
}

.supporter-logo:last-child {
    margin-right: 0; /* Position the last logo at the rightmost position */
}


/* Team section styles */
.team-section {
    width: 573px;
    height: 180px;
    margin: 0 auto; 
    background-color: #FFFFFF; 
    color: #1D2130; 
    padding: 20px; 
    box-sizing: border-box; 
    text-align: center; 
}

/* Team title styles */
.team-title {
    width: 317px; 
    height: 60px; 
    margin: 0 auto 10px; 
    font-size: 24px;
    font-weight: bold; 
    color: #1D2130; 
}

/* Team description styles */
.team-description {
    width: 573px; 
    height: 110px; 
    margin: 0 auto; 
    font-size: 16px; 
    color: #525560; 
}

/* Team members styles */
.team-members {
    width: 1285px;
    height: 433px;
    margin: 20px auto; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: calc((100% - 1285px) / 2);
}

/* Team member styles */
.team-member {
    text-align: center;
    width: 302px; /* Set width */
    height: 400px; /* Set height */
    margin-bottom: 20px;
}


/* Member image styles */
.member-image {
    width: 200px; 
    height: 250px; 
    object-fit: cover;
    border: 2px solid #000; 
    border-radius: 10px; 
    margin-bottom: 10px;
}

/* Member name styles */
.member-name {
    padding: 0px;
    margin: 0px;
    font-size: 18px; 
    font-weight: bold;
}

/* Member role styles */
.member-role {
    font-size: 14px; 
    color: #888;
}

.member {
    padding: 0px;
    margin: 0px;
}

.role {
    padding: 0px;
    margin: 0px;
}
